@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #00000010;
}
.custom-box-shadow {
    --box-shadow-x: 8px;
    --box-shadow-y: 40px;
    --box-shadow-blur: 80px;
    --box-shadow-spread: -16px;
    --box-shadow-color: #00000080;

    box-shadow: var(--box-shadow-x) var(--box-shadow-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}
.sidebar-box-shadow {
    --box-shadow-x: 24px;
    --box-shadow-y: -20px;
    --box-shadow-blur: 56px;
    --box-shadow-spread: 0px;
    --box-shadow-color: #0000000D;

    box-shadow: var(--box-shadow-x) var(--box-shadow-y) var(--box-shadow-blur) var(--box-shadow-spread) var(--box-shadow-color);
}

.primary-color{
  color: #000;
}
.secondary-color{
  color: #120037;
}
.modal-title{
  font-weight: 600;
  font-size: 14px;
  color: #000;
}
.modal-text{
  font-weight: 600;
  font-size: 14px;
  color: #00000050;
}